body {
    background: #333;
    color: #fff;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: rgb(245, 230, 99);
  border: 10px solid rgba(136, 136, 136, .5);
  border-radius: 50%;
  touch-action: none;
  user-select: none;
}

#event_model {
  border: 1px solid blue;
}
#lanes_container {
  border: 0px solid green;
}

.lane {
  padding: 4em;
  border-bottom: 5px solid pink;
  min-height: 100px;
  overflow: hidden;
  display: flex;
}
